# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Django
db.sqlite3
*.log
logs/*.log
media/
staticfiles/

# Environnement
.env
.env.local

# IDE
.vscode/
.idea/
*.swp

# OS
Thumbs.db
.DS_Store
